<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a href="#/vocab" class="menu__link menu__link_vocabulary" title="Учебник" aria-label="vocabulary"></a>
    </li>
    <li class="menu__item">
      <a href="#/audio" class="menu__link menu__link_audio" title="Аудиовызов" aria-label="audio"></a>
    </li>
    <li class="menu__item">
      <a href="#/sprint" class="menu__link menu__link_sprint" title="Спринт" aria-label="sprint"></a>
    </li>
    <li class="menu__item">
      <a href="#/stats" class="menu__link menu__link_stats auth" title="Статистика" aria-label="stats"></a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link menu__link_logout auth" title="Выход" aria-label="logout"></a>
    </li>
  </ul>
</nav>
