<div class="popup__wrapper">
  <div class="tab-container">
    <label class="tab active-tab" title="Вкл1" data-form="form-registr">Регистрация</label>
    <label class="tab" title="Вкл2" data-form="form-auth">Авторизация</label>
  </div>
  <form id="form-registr" class="popup__form">
    <input type="email" placeholder="Введите e-mail" />
    <input type="password" placeholder="Введите пароль" />
    <a href="#" class="popup__btn">Зарегистрироваться</a>
  </form>
  <form id="form-auth" class="popup__form" style="display: none">
    <input type="email" placeholder="Введите e-mail" />
    <input type="password" placeholder="Введите пароль" />
    <a href="#" class="popup__btn">Войти</a>
  </form>
</div>
