<div class="container">
  <ul class="footer__container">
    <li class="footer__school footer__block">
      <a class="rss" href="https://rs.school/js/" target="_blank"
        ><img src="../../../assets/rs_school_js.svg" alt="RSSchool logo" width="100"
      /></a>
    </li>
    <li class="footer__team footer__block">
      <ul class="footer__members">
        <li>
          <a class="github" href="https://github.com/anasstassia" target="_blank">
            <span class="github__icon"></span>
            <span class="github__text">Anastasiya Gubina</span>
          </a>
        </li>
        <li>
          <a class="github" href="https://github.com/serhii1108" target="_blank">
            <span class="github__icon"></span>
            <span class="github__text">Serhii Kernychnyi</span>
          </a>
        </li>
        <li>
          <a class="github" href="https://github.com/irina-mokh" target="_blank">
            <span class="github__icon"></span>
            <span class="github__text">Irina Mokh</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="footer__year footer__block">
      2022
    </li>
  </ul>
</div>
