<div class="word__img">
  <img src="../../../assets/files/01_0001.jpg" alt="">
</div>
<h3 class="word__en">alcohol</h3>
<p class="word__transcript">[ǽlkəhɔ̀ːl]</p>
<p class="word__ru">алкоголь</p>
<p class="word__meaning"><i>Alcohol</i> is a type of drink that can make people drunk.</p>
<p class="word__example">A person should not drive a car after he or she has been drinking <b>alcohol</b>.</p>
<p class="word__meaning_ru">Алкоголь - это тип напитка, который может сделать людей пьяными</p>
<p class="word__example_ru">Человек не должен водить машину после того, как он выпил алкоголь</p>
<button class="word__btn btn btn_icon btn_audio"></button>
<input class="checkbox auth" type="checkbox" id="done01">
<label for="done01" class="word__btn btn btn_icon btn_done auth"></label>
<input class="checkbox auth" type="checkbox" id="difficult01">
<label for="difficult01" class="word__btn btn btn_icon btn_difficult auth"></label>
<p class="word__right-ans word__result auth">1</p>
<p class="word__wrong-ans word__result auth">2</p>