@use "../../../scss/vars.scss";

.sprint {
	background-image: linear-gradient(-45deg, #f73e3e, #ee7752 , #236ad5, #9708aa);

  &__content {
    &__word {
      font-size: 35px;
    }
    &__translate {
      font-size: 30px;
    }
    .answer-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;
      margin: 40px auto auto auto;

      &__marks {
        position: relative;
        height: 30px;
        width: 30px;
        .mark {
          position: absolute;
          top: 0;
          left: 0;
          height: 30px;
          &.hidden {
            opacity: 0;
          }
        }
      }

      
    }
  }

  .timer {
    text-align: center;
    overflow: hidden;
    width: 600px;
    margin: 70px auto auto auto;
    span {
      font-size: 40px;
    }
    .line {
			transition: width .3s linear;
      background-color: #fff;
      height: 2px;
      margin: 10px auto auto auto; 
    }
  }
}
